# dataset 개수는 고혈압 기준에 맞춰 967개로 설정

In [77]:
import pandas as pd
import numpy as np

In [78]:
data = pd.read_csv('폐암 합병증/lung_hypertension.csv')
data

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2019,76,M,Y,12,21,10,18
1,국립암센터,2014,47,F,N,4,4,4,4
2,국립암센터,2012,67,M,N,16,29,14,25
3,국립암센터,2013,59,M,N,9,13,7,10
4,국립암센터,2015,76,M,N,7,14,7,12
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2011,52,M,N,8,12,7,11
996,국립암센터,2015,58,M,N,5,9,4,7
997,국립암센터,2017,75,F,Y,2,7,2,5
998,국립암센터,2011,50,M,N,5,7,4,6
999,국립암센터,2013,45,F,N,1,1,1,1

In [79]:
data = data.dropna()

In [80]:
hype = data[['statsTrgtNm']]
hype

    statsTrgtNm
0             Y
1             N
2             N
3             N
4             N
..          ...
995           N
996           N
997           Y
998           N
999           N

[967 rows x 1 columns]

In [81]:
def doo(x):
    if x == 'Y':
        return 1
    else:
        return 0

In [82]:
hype['statsTrgtNm'] = hype['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_121868/1727592029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hype['statsTrgtNm'] = hype['statsTrgtNm'].map(doo)

In [83]:
hype

     statsTrgtNm
0              1
1              0
2              0
3              0
4              0
..           ...
995            0
996            0
997            1
998            0
999            0

[967 rows x 1 columns]

In [84]:
# columns 명 변경 
hype = hype.rename(columns={'statsTrgtNm':'hype'})

In [85]:
hype

     hype
0       1
1       0
2       0
3       0
4       0
..    ...
995     0
996     0
997     1
998     0
999     0

[967 rows x 1 columns]

# 남녀 과거 흡연 여부

In [86]:
df = pd.read_csv('흡연_음주 여부/smoke_past.csv')
df

,centerNm,critYr,ptAge,ptSexCd,statsTrgtNm,ncsNmvl,wholNcsDnmvl,ptCntNmvl,wholPtCntDnmvl
0,국립암센터,2013,60,M,Y,17,18,16,17
1,국립암센터,2013,58,M,Y,17,17,14,14
2,국립암센터,2013,65,F,N,4,5,4,5
3,국립암센터,2017,71,M,Y,11,14,10,12
4,국립암센터,2014,83,M,N,2,2,1,1
...,...,...,...,...,...,...,...,...,...
995,국립암센터,2019,83,F,N,5,5,4,4
996,국립암센터,2012,58,F,Y,3,7,3,7
997,국립암센터,2016,79,F,N,3,3,3,3
998,국립암센터,2016,53,F,N,5,6,4,5
999,국립암센터,2016,71,M,N,2,18,2,16

In [87]:
df.isnull().any()

centerNm          False
critYr            False
ptAge             False
ptSexCd           False
statsTrgtNm       False
ncsNmvl           False
wholNcsDnmvl      False
ptCntNmvl         False
wholPtCntDnmvl    False
dtype: bool

In [88]:
# 열개수 맞춰주기
df = df.iloc[0:967, :]

In [89]:
smoke = df[['statsTrgtNm']]

In [90]:
smoke['statsTrgtNm'] = smoke['statsTrgtNm'].map(doo)

C:\Users\martu\AppData\Local\Temp/ipykernel_121868/1984105631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smoke['statsTrgtNm'] = smoke['statsTrgtNm'].map(doo)

In [91]:
smoke = smoke.rename(columns={'statsTrgtNm':'smoke'})

In [92]:
smoke

     smoke
0        1
1        1
2        0
3        1
4        0
..     ...
962      0
963      0
964      1
965      1
966      0

[967 rows x 1 columns]

In [95]:
smoke.to_csv('smoke.csv', index = False)
hype.to_csv('hype.csv', index = False)

In [96]:
smoke = pd.read_csv('smoke.csv')
hype = pd.read_csv('hype.csv')

In [97]:
data = pd.concat([smoke, hype], axis = 1)

In [98]:
data

     smoke  hype
0        1     1
1        1     0
2        0     0
3        1     0
4        0     0
..     ...   ...
962      0     0
963      0     0
964      1     1
965      1     0
966      0     0

[967 rows x 2 columns]

# 신명난 머신러닝 ~~~~

In [116]:
X = data[['smoke']]
y = data[['hype']]

In [126]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
X_train_val, X_test_val, y_train_val, y_test_val = train_test_split(X_train, y_train, test_size =0.2, random_state = 42)

In [127]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train_val, y_train_val)

LinearRegression()

In [128]:
lr.score(X_test_val, y_test_val)

-0.01169134478390288